version: 2
kind: project

project:
  name: {{ name }}
  mode: standalone
  board: {{ board }}
  debug: true

timing:
  file: timing_config.yaml

registries:
  packs:
    - packs/builtin
    - packs/vendor-intel
  ip:
    - ip
  cpu: []

clocks:
  primary:
    domain: ref_clk
    source: board:SYS_CLK
    frequency_hz: 50000000
  generated: []

modules:
  - instance: blink_test
    type: blink_test
    params:
      CLK_FREQ: 50000000
    clocks:
      SYS_CLK: ref_clk
    bind:
      ports:
        ONB_LEDS:
          target: board:onboard.leds
