version: 2
kind: timing

timing:
  clocks:
    - name: SYS_CLK
      source: board:SYS_CLK
      period_ns: 20.0

  generated_clocks: []

  io_delays:
    auto: true
    default_clock: SYS_CLK
    default_input_max_ns: 3.0
    default_output_max_ns: 3.0

  false_paths: []
